@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
      url("../fonts/Nunito-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-ExtraBold.woff2") format("woff2"),
      url("../fonts/Nunito-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
}

.titlebar{
    height: 40px;
    width: 100%;
    background-color: transparent;
    -webkit-app-region: drag;
    z-index: 99;
    position: fixed;

}
.userregion{
    height: calc(100% - 80px);
    width: 100%;
}

.sidebar{
    width: 150px;
    height: 100%;
    float: left;
    background-color: #0b0b0e ;
}
.mainplane{
    width: calc(100% - 150px);
    height: 100%;
    float: right;
    background-color: #000000;
}

.audiobar{
    width: 100%;
    height: 80px;
    background-color: #0D0E10;
}
.winbuttons{
    height: 100% !important;
    float: right;
    -webkit-app-region: no-drag;
    font-size: 0px !important;
}
.closebutton{
    height: 100% !important;
    width: 30px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 0px !important;
    background-color: transparent !important;
}
.minimizebutton{
    height: 100% !important;
    width: 30px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 0px !important;
    background-color: transparent !important;
    
}

.minimizebutton :hover{
    background-image: radial-gradient(red, rgb(192, 191, 247), transparent 70%);
}
.closebutton :hover{
    background-image: radial-gradient(red, rgb(221, 124, 124), transparent 75%);
}

.logoimg{
    margin-left: 14px;
    margin-top: 5px;
    -webkit-app-region: drag;
}

.tabbuttons{
    height: 80%;
    width: 100%;
    margin-top: 30px;
}
.navbtn{
    box-shadow: none !important;
    width: 138px;
    padding-left: 30px;
    padding-right: 10px;
    color: #ffffff;  
    text-align: left !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
}

.navactive{
    background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
    color: #ffffff !important;
}

.navbtn:hover{
    color: #0470dc;
}


.audio_playing_desc{
    height: 100%;
    width: 150px;
    float: left;
}

.audio_controls{
    height: 100%;
    width: calc(100% - 150px);
    float: right;
}

.ctrl_btn{
    width: 100% !important;
    height: 60%  !important;
}

.ctrl_slide{
    width: 100%;
    height: 40%;
}

.audio_sl{
    margin-bottom: 0px;
    height: 5px !important; 
    border-radius: 5px;  
    background: #5E566D !important;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    width: calc(100% - 25px);
}



.audio_sl::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background:  #2b81d6;
    cursor: pointer;
  }
















.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }